html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

a:hover {
  color: #db4105;
  text-decoration: none;
}

.nav-link {
  font-size: larger;
  font-weight: bold;
}

.nav-link:hover {
  color: #db4105;
}

.navbar-nav .nav-link.active {
  color: #db4105;
  text-decoration: underline;
}

.dropdown-menu-gear {
  min-width: 13em;
}

.dropdown-menu-cloth {
  min-width: 25em;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding-left: 0%;
  padding-right: 0%;
}

.dropdown-item:hover {
  font-weight: bolder;
}

.dropdown-item:focus {
  font-style: oblique;
}

.bi:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.bg {
  /* The image used */
  background-image: url("img/coming_soon.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.fade {
  animation: fade 0.5s both;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-fade {
  animation: modal-fade 0.5s both;
}

@keyframes modal-fade {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.form-floating a {
  right: 50px;
  position: absolute;
}

.accordion-item {
  border: 0;
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
  box-shadow: none;
}

.btn-outline-primary,
btn {
  color: #db4105;
  border-color: #db4105;
}

.btn.btn-outline-primary:hover {
  border-color: #db4105;
  background-color: #db4105;
  box-shadow: none;
}

.btn.btn-outline-primary:active {
  background-color: #db4105;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dc143c#db4105;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top svg {
  color: #fff;
  font-size: 1.5rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #be1a3b;
}

.back-to-top:hover svg {
  transform: translateY(-5px);
}

a div div div.card-body {
  color: inherit;
  text-decoration: none;
}
a div div div.card-body {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: #db4105 !important;
}

.bg-primary {
  background-color: #db4105 !important;
}
