
  html {
    scroll-behavior: smooth;
  }
  
  section{
    margin-bottom: 40px;
  }
  .nav-link:hover {
    color: rgb(254, 77, 0);
  }

  .btn-outline-cust{
    color: rgb(254, 77, 0);
    border-color: rgb(254, 77, 0);
    background-color: transparent;
  }
  
  .btn-outline-secondary:hover {
    color: rgb(254, 77, 0);
    border-color: rgb(254, 77, 0);
    background-color: transparent;
  }
  
  /*Login pop-up*/
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px; 
  }
    
  
  .form-popup {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid 212529;
    z-index: 9;
  }
  
  
  .form-container {
    max-width: 500px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--cust-bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }

  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn-success {
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: rgb(255, 0, 166);
  }

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  html {
    scroll-behavior: smooth;
  }

  
